@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background: #000;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
p,
b,
span {
  font-family: "Roboto"; }

.container {
  width: 75%;
  margin: 0 auto; }

.block-section {
  display: block; }

.main-left {
  position: fixed;
  left: 10px;
  bottom: 10px; }
  .main-left img {
    width: 120px;
    height: "auto";
    transition: 0.5s; }
  .main-left img:hover {
    transform: scale(1.1);
    transition: 0.5s; }

.footer-contain {
  margin-top: calc(10px-220px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto"; }

.section {
  width: 100%;
  font-family: "Roboto"; }

.background--one {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .background--one .block-section--one {
    width: 100%;
    display: block;
    text-align: center; }
    .background--one .block-section--one h1 {
      font-weight: 400;
      font-size: 22px;
      margin-bottom: 32px; }
    .background--one .block-section--one img {
      transition: 0.5s; }
    .background--one .block-section--one img:hover {
      transform: scale(1.1);
      transition: 0.5s; }

.background--two {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .background--two .block-section--two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px auto;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 15px; }
    .background--two .block-section--two .text-block--two {
      width: 50%; }
      .background--two .block-section--two .text-block--two p {
        text-align: center;
        margin-left: 80px;
        text-align: right;
        height: 100%; }
    .background--two .block-section--two img {
      width: 250px;
      height: 100%; }
  .background--two .block-section--footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end; }
    .background--two .block-section--footer .footer-contain {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      font-family: "Roboto";
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(4px);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      .background--two .block-section--footer .footer-contain img {
        cursor: pointer;
        width: 110px;
        height: auto;
        transition: 0.5s;
        margin: 10px auto;
        padding: 0 30px; }
        .background--two .block-section--footer .footer-contain img:hover {
          transform: scale(1.1);
          transition: 0.5s; }
      .background--two .block-section--footer .footer-contain p {
        text-align: center;
        padding: 0 30px; }

@media (max-width: 800px) {
  .main-left {
    transform: scale(0.9); }
  .background--two {
    height: 100%; }
    .background--two .block-section--two {
      display: block;
      margin-top: 20px;
      text-align: center;
      height: 90%; }
      .background--two .block-section--two .text-block--two {
        margin: 0;
        width: 100%; }
        .background--two .block-section--two .text-block--two p {
          margin-left: 0;
          text-align: center; }
      .background--two .block-section--two img {
        margin: 40px auto;
        width: 60%; }
    .background--two .block-section--footer .footer-contain {
      justify-content: center;
      align-items: center; }
      .background--two .block-section--footer .footer-contain p {
        min-width: 140px;
        padding-left: 100px;
        padding-right: 10px;
        font-size: 0.9rem; }
      .background--two .block-section--footer .footer-contain img {
        width: 100px;
        padding-left: 0; } }
