@media (max-width: 600px) {
    .main-left {
        transform: scale(0.9);
    }

    .background--two {
        height: 100%;

        .block-section--two {
            display: block;
            margin-top: 20px;
            text-align: center;
            height: 90%;

            .text-block--two {
                margin: 0;
                width: 100%;

                & p {
                    margin-left: 0;
                    text-align: center;
                }
            }

            & img {
                margin: 40px auto;
                width: 60%;
            }
        }

        .block-section--footer {
            margin-top: 40px;

            .footer-contain {
                width: 100%;
                justify-content: flex-end;
                margin-left: 30%;

                & p {
                    min-width: 150px;
                    padding-left: 0;
                }

                & img {
                    width: 100px;
                    padding-left: 0;
                }
            }
        }
    }
}
