.section {
    width: 100%;
    font-family: $fontFamilyDefault;
}

.background--one {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .block-section--one {
        width: 100%;
        display: block;
        text-align: center;

        & h1 {
            font-weight: 400;
            font-size: 22px;
            margin-bottom: 32px;
        }
    }
}

.background--two {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 120vh;
    display: flex;
    flex-direction: column;

    & .footer-contain {
        margin-top: calc(10px-220px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $fontFamilyDefault;
    }

    & .block-section--two {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & .text-block--two {
            width: 40%;
            height: 100%;

            & img {
                margin: 90px 0 0 90px;
            }
        }
    }
}
